body{
    margin: 0;
    padding: 0;
}

.cover{
    width: 100%;
    height: 300px;
    background-color: brown;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details-box .title{
    text-align: center;
    color: white;
    font-size: 55px;
    letter-spacing: 3px;
}

.details-box .about{
    text-align: center;
    color: white;
    font-size: 22px;
}

.details-box .down-arrow{
    color: black;
    /* font-size: 30px; */
}